<h2> <%= @group.name %> Group</h2>

<% if signed_in? %>

  <div id="group-button-form">
    <%= render "group_button_form", group: @group %>
  </div>


  <div id="like-button-form">
    <%= render "like_button_form", group: @group %>    
  </div> 

<% end %>





<%= render @images %>