<div>
<%= link_to comment_activity.subject.user.email, 
  comment_activity.subject.user %> 
commented on  
<%= link_to comment_activity.subject.image.user.email, 
  comment_activity.subject.image.user %>'s
Image
'<%= link_to comment_activity.subject.image.name, comment_activity.subject.image %>'
</div>