<div>
<%= link_to create_gallery_activity.email,
  create_gallery_activity.gallery.user %> 
created gallery
'<%= link_to create_gallery_activity.gallery_name,
  create_gallery_activity.gallery %>'
  </div>