<!DOCTYPE html>
<html>
<head>
</head>
<body>

<% if current_user.premium? %>
  <h1>PREMIUM MEMBERSHIP</h1>
<% else %>
  <%= button_to "UPGRADE YOUR ACCOUNT", new_charge_path, method: :get %>
<% end %>

  <%= yield %>
</body>
</html>